<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">

</head>
<body>
    
    <a href="/sepetim"><i style="position: absolute;top:20px; right:20px;"class="fas fa-shopping-cart"></i></a>
  <a href="/homepage">Main Menu</a>
<ul>
    {{#each product}}
    <li></h3><img style="max-width:200px;"src="{{this.url}}"> ><a href="http://localhost:4000/item?id={{this._id}}">Go TO Details</a>
    <p>{{this.name}}</p>

 
       </li>
        {{/each}}
    </ul>
    {{#if loggedin}}
        <a href="/">Log Out</a>
        {{/if}}
</body>
</html>